<div class="container">
  <nav class="navbar">
    <div class="navbar-item">
      <h1 class="title is-4">Camera Logs</h1>
    </div>
  </nav>
  <table class="table is-fullwidth is-hoverable is-bordered">
    <thead>
      <tr>
        <th>ID Log</th>
        <th>Date</th>
        <th>Camera</th>
        <th>Event</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.id }}</td>
        <td>{{ log.date | date }}</td>
        <td>{{ log.camera }}</td>
        <td>{{ log.event }}</td>
        <td>
          <figure class="image is-3by2" (click)="onImgClick($event.target.alt)">
            <img [src]="log.image" [alt]="log.id" />
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal is-active" *ngIf="displayModal">
  <div class="modal-background"></div>
  <div class="modal-card is-clipped">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Log: {{ currentLog.id }} - {{ currentLog.camera }} -
        {{ currentLog.event }}
      </p>
      <button
        class="delete"
        aria-label="close"
        (click)="onCloseClick()"
      ></button>
    </header>
    <section class="modal-card-body">
      <p class="image is-4by3">
        <img [src]="currentLog.image" />
      </p>
    </section>
  </div>
</div>
